/*------------------------------------------------------------------
[Master Stylesheet]
Project Name: 
Version: 1.0.0
Author: 
Website: 
Last Update: 
-------------------------------------------------------------------*/

@import "grid.css";

/*------------------------------------------------------------------
[Table of contents ]
Body
xx:  Typography
xx:  Header
xx:  Form Wrapper
xx:  List Wrapper
-------------------------------------------------------------------*/


/* ----------------------------------------- *\
   xx: Typography
\* ----------------------------------------- */

html { 
  background: url('../img/background.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
	margin: 0;
	font-family: 'Quicksand', sans-serif;
}

input[type=text].iform--control {
  width: 100%;
  height: 50px;
  outline: none;
  display: block;
  font-size: 21px;
  border: 2px solid #fff;
  padding: 0px 15px;
  border-radius: 4px;
  margin-bottom: 30px;
  font-family: 'Quicksand', sans-serif;
}

input[type=text].iform--control.field-error {
    border-color: #F44336;
}

button[type=button].iform--control {
    width: 100%;
    height: 50px;
    outline: none;
    font-size: 21px;
    cursor: pointer;
    border: 0px solid #fff;
    font-weight: bold;
    border-radius: 4px;
    background-color: #fff;
    font-family: 'Quicksand', sans-serif;
}

.list--unstyled {
  margin: 0;
  padding: 0;
  list-style: none;
}
.list--unstyled li {
  display: inline-block;
}
.text-center {
  text-align: center;
}

/* ----------------------------------------- *\
   xx: Header
\* ----------------------------------------- */
h1.page--title {
    color: #fff;
    position: relative;
    padding-left: 50px;
    text-transform: uppercase;
    text-shadow: 0 0 26px rgba(0,0,0,0.98);
}
h1.page--title:before {
    left: 0;
    top: 50%;
    font-weight: 900;
    content: "\f0cb";
    position: absolute;
    font-family: 'Font Awesome 5 Free';
    transform: translate(0%,-50%);
}

/* ----------------------------------------- *\
   xx: Form Wrapper
\* ----------------------------------------- */
.itodo--form--inner--wrapper {
    padding: 50px 0 0 0;
}

/* ----------------------------------------- *\
   xx: List Wrapper
\* ----------------------------------------- */
.ifilter--wrapper li {
    color: #fff;
    margin: 0 30px;
    font-size: 24px;
    cursor: pointer;
    font-weight: bold;
    text-shadow: 0 0 15px rgba(0,0,0,0.98);
}

.ifilter--wrapper li.active {
    color: #ddd;
}

.itodo--no--todos {
    color: #fff;
    font-size: 24px;
    font-weight: bold;
    box-shadow: 0 0 black;
    text-shadow: 0 0 15px rgba(0,0,0,0.98);
}

.itodo--list--container {
    margin: 20px 0 85px 0;
}
.itodo--list--container li{
    display: block;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    font-size: 19px;
    line-height: 21px;
}
.itodo--list--container li:first-child{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.itodo--list--container li:last-child{
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.itodo--list--container li button{
    background-color: transparent;
    border: 0px solid;
    cursor: pointer;
    margin-right: 10px;
    outline: none;
    font-size: 20px;
}
.action--container {
    float: right;
    position: relative;
    cursor: pointer;
    padding: 0 0 0 10px;
}
.action--container:hover ul.action--list {
  visibility: visible;
  opacity: 1;
}
ul.action--list {
    display: block;
    background: #ffffff;
    position: absolute;
    visibility: hidden;
    opacity: 0;
    right: 0;
    padding: 0;
    width: 150px;
    z-index: 9999;
}
ul.action--list li{
    border-radius: 0px !important;
    padding: 15px;
}
ul.action--list li i{
  padding-right: 10px;
}
